<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>

<div class="header">
    <div><a href="/">Strona Główna</a></div><%- include(header_content) %> 
</div>
    
<div class="content">
    <%- include(content) %> 
</div>

<div class="footer">
    Alan Guzek 2023 Informatyka Stosowana AGH
</div>

</body>
</html>