<div class="article">
    Strona startowa.</br>
    <ul>
        <li><a href="/animation">Animacja zjawiska fizycznego</a></li>
        <li><a href="/wiki">Informacje na temat zjawiska</a></li>
    </ul>
</div>