<%- include('bg_music') %>

<article>
    <p>
        <b>Wahadło matematyczne</b> - jest to materialny punkt zawieszony na nieważkiej 
        nici w polu grawitacyjnym, który oscyluje wokół punktu spoczynku.
    </p>
    <p>
        Okres drgań takiego wahadła można obliczyć w następujący sposób: </br>
        <div class="center-img">
            <img src="./assets/wahadlo.png" alt="schemat wahadła matematycznego">
        </div>
        <div class="indented">
            <ol>
                <li>
                    Policzenie siły stycznej oraz prostopadłej do toru ruchu:
                    <div class="equation">
                    <math>
                        <mrow>
                            <msub>
                                <mi>F</mi><mi>s</mi>
                            </msub>
                            <mo>=</mo><mi>mg</mi><mo>⋅</mo>
                            <mi>sin</mi>
                            <mo>(</mo>
                                <mi>α</mi>
                            <mo>)</mo>
                        </mrow>
                    </math>
                    </div>
                </li>
                <li>
                    Dla niewielkich wahań (gdzie kąt wychylenia jest mneijszy niż 7 stopni):
                    <div class="equation">
                        <math>
                            <mrow>
                                <mrow>
                                    <mi>sin</mi>
                                    <mo>⁡</mo>
                                </mrow>
                                <mo form="prefix" stretchy="false">(</mo>
                                <mi>α</mi>
                                <mo form="postfix" stretchy="false">)</mo>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>d</mi>
                                    <mi>l</mi>
                                </mfrac>
                            </mrow>
                        </math>
                    </div>
                </li>
                <li>
                    Podstawiając i zamieniając odległość od środka na pozycję w osi x otrzymujemy:
                    <div class="equation">
                        <math>
                            <mrow>
                                <msub>
                                    <mi>F</mi>
                                    <mi>s</mi>
                                </msub>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>mg</mi>
                                    <mi>l</mi>
                                </mfrac>
                                <mo>⋅</mo>
                                <mi>|x|</mi>
                            </mrow>
                        </math>
                    </div>
                </li>
                <li>
                    Porównując tą siłę z siłą sprężystości otrzymujemy:
                    <div class="equation">
                        <math>
                            <mrow>
                                <mo>−</mo>
                                <mi>kx</mi>
                                <mo>=</mo>
                                <mo>−</mo>
                                <mfrac>
                                    <mi>mg</mi>
                                    <mi>l</mi>
                                </mfrac>
                                <mi>x</mi>
                            </mrow>
                        </math>
                    </div>
                    <div class="equation">
                        <math>
                            <mrow>
                                <mi>k</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>mg</mi>
                                    <mi>l</mi>
                                </mfrac>
                            </mrow>
                        </math>
                    </div>
                </li>
                <li>
                    Podstawiając do wzoru na częstość kołową mamy:
                    \[ \omega = \sqrt{\frac{g}{l}} \]
                    <div class="equation">
                        <math>
                            <mrow>
                                <mi>ω</mi>
                                <mo>=</mo>
                                <msqrt>
                                    <mfrac>
                                        <mi>g</mi>
                                        <mi>l</mi>
                                    </mfrac>
                                </msqrt>
                            </mrow>
                        </math>
                    </div>
                </li>
                <li>
                    A więc okres drgań wynosi:
                    <div class="equation">
                        <math display="block" style="font-weight: bold;">
                            <mrow>
                                <mi>T</mi>
                                <mo>=</mo>
                                <mn>2</mn>
                                <mi>π</mi>
                                <msqrt>
                                    <mfrac>
                                        <mi>l</mi>
                                        <mi>g</mi>
                                    </mfrac>
                                </msqrt>
                            </mrow>
                        </math>
                    </div>
                </li>
            </ol>
        </div>
        Okres drgań nie zależy od masy, a jedynie od długości wahadła. <br>
    Można to sprawdzić <b><u><a href="/animation">TUTAJ</a></u></b> :)
    </p>

</article>